@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import './styles/buttons.scss';
@import './styles/tables.scss';
@import './styles/inputs.scss';

:root {
  /* link colors */
  --link-color: rgb(57, 115, 144);
  --link-color-hover: rgb(70, 154, 196);
  --link-color-active: rgb(70, 154, 196);
  --link-color-disabled: rgba(190, 190, 190, 0.566);

  /* Button Colors */
  --primary-button-background-color: rgb(138, 208, 242);
  --primary-button-text-color: rgb(37, 37, 37);
  
  --primary-button-background-color-hover: rgb(70, 154, 196);
  --primary-button-text-color-hover: white;
  
  --primary-button-background-color-disabled: rgba(100, 100, 100, 0.566);
  --primary-button-text-color-disabled: rgba(255, 255, 255, 0.579);
  
  --secondary-button-background-color: rgb(255, 255, 255);
  --secondary-button-text-color: rgb(34, 34, 34);
  
  --secondary-button-background-color-hover: rgb(238, 238, 238);
  --secondary-button-text-color-hover: rgb(34, 34, 34);
  
  --secondary-button-background-color-disabled: rgba(100, 100, 100, 0.566);
  --secondary-button-text-color-disabled: rgba(255, 255, 255, 0.579);

  /* Uploader Colors */
  --uploader-background-color: rgba(255, 255, 255, 0.769);
  --uploader-text-color: rgb(71, 71, 71);

  --uploader-header-background-color: rgba(255, 255, 255, 0.8);
  --uploader-header-text-color: rgb(39, 39, 39);

  --uploader-item-background-color: rgba(255, 255, 255, 0.8);
  --uploader-item-text-color: rgb(39, 39, 39);

  /* Panel Colors */
  --panel-background-color: rgba(221, 221, 221, 1);
  --panel-text-color: rgb(34, 34, 34);
  
  --panel-item-background-color: rgb(215, 215, 215);
  --panel-item-text-color: rgb(34, 34, 34);
  --panel-item-background-color-hover: rgb(238, 238, 238);
  --panel-item-text-color-hover: rgb(34, 34, 34);
  
  --panel-item-action-hover-background-color-from: rgba(238, 238, 238, 0.42);
  --panel-item-action-hover-background-color-to: rgb(238, 238, 238);
  
  --panel-header-background-color: rgba(80, 175, 223, 0.8);
  --panel-header-text-color: rgb(34, 34, 34);
  
  --panel-subheader-background-color: linear-gradient(to bottom, rgb(236, 236, 236) 0%, rgb(241, 241, 241) 100%);
  --panel-subheader-text-color: rgb(34, 34, 34);
  
  --tabs-bar-background-color: rgb(221, 221, 221);
  
  --tabs-tab-background-color: rgb(211, 211, 211);
  --tabs-tab-text-color: rgb(53, 53, 53);
  
  --tabs-tab-background-color-hover: rgba(80, 175, 223, 0.8);
  --tabs-tab-text-color-hover: rgb(244, 244, 244);
  
  --tabs-tab-background-color-active: rgba(80, 175, 223, 0.8);
  --tabs-tab-text-color-active: rgb(244, 244, 244);

  --panel-nav-item-background-color: rgb(211, 211, 211);
  --panel-nav-item-text-color: rgb(53, 53, 53);

  --panel-nav-item-background-color-hover: rgba(80, 175, 223, 0.8);
  --panel-nav-item-text-color-hover: rgb(244, 244, 244);

  --panel-section-background-color: rgb(211, 211, 211);
  --panel-section-text-color: rgb(53, 53, 53);

  --panel-section-background-color-alt: rgb(206, 206, 206);
  --panel-section-text-color-alt: rgb(53, 53, 53);
  
  /* table colors */
  --table-background-color: rgb(221, 221, 221);
  --table-text-color: rgb(34, 34, 34);

  --table-header-background-color: rgba(80, 175, 223,1);
  --table-header-text-color: rgb(255, 255, 255);

  --table-row-background-color: rgb(238, 238, 238);
  --table-row-text-color: rgb(34, 34, 34);

  --table-row-background-color-alt: rgb(241, 241, 241);
  --table-row-text-color-alt: rgb(34, 34, 34);

  /* input colors */
  --input-background-color: rgb(236, 236, 236);
  --input-text-color: rgb(34, 34, 34);
  --input-border-color: rgb(222, 222, 222);
  --input-border-color-hover: rgb(205, 205, 205);
  --input-border-color-focus: rgb(80, 175, 223);
  --input-placeholder-color: rgb(164, 164, 164);

  --checkbox-background-color: rgb(236, 236, 236);

  --checkbox-checked-background-color: rgb(80, 175, 223);
  --checkbox-checked-check-color: rgb(255, 255, 255);

  
  --label-text-color: rgb(34, 34, 34);

  --progress-bar-background-color: rgb(211, 211, 211);
  --progress-bar-fill-color: rgb(80, 175, 223);
  --progress-bar-text-color: rgb(34, 34, 34);

  /* Overlay */

  --overlay-background-color: rgba(255, 255, 255, 0.2);

  /* Button dimensions */
  --button-height: 50px;
  --button-width: 100%;
  --icon-only-button-width: 50px;

  /* Button border radius */
  --button-border-radius: 10px;

  /* Tabs border radius */
  --tabs-border-radius: 5px 5px 0 0;

  /* Settings dimensions */
  --settings-width: 100vw;
  --settings-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--panel-background-color);
  a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      color: var(--link-color-hover);
    }
  }
}

#logo {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
  z-index: 200;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  .left-panel {
    height: 100vh;
    max-height: 100vh;
    border-radius: 0 20px 20px 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 0px;
    padding-bottom: 70px;
    @media (min-width: 900px) {
      width: 50%;
      padding: 0px 40px;
    }
    @media (min-width: 1500px) {
      width: 30%;
      padding: 0px 40px;
    }
    z-index: 100;
  }
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.ui-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
  z-index: 100;
  padding-bottom: 15px;
}
.download-panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--panel-background-color);
  backdrop-filter: blur(10px);
  width: 400px;
  h1 {
    color: var(--panel-text-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .total-size,
  .share-expires {
    margin-top: 10px;
    color: var(--panel-text-color);
    font-size: 0.8rem;
    margin-bottom: 10px;
    &.share-expires {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
  z-index: 101;
  .file-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .file-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--panel-item-background-color);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .size {
      color: var(--panel-text-color);
      opacity: 0.8;
      font-size: 0.8rem;
    }
    .type {
      color: var(--panel-text-color);
      opacity: 0.8;
      font-size: 0.8rem;
    }
    &.more-files {
      margin-top: 10px;
      background-color: var(--panel-item-background-color);
    }
    .file-name {
      color: var(--panel-text-color);
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      //nowrap
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.more-files {
        color: var(--panel-text-color);
        font-size: 0.8rem;
      }
      svg {
        width: 16px;
        height: 16px;
        margin-top: -1px;
      }
    }
  }
}

.download-panel-content {

  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--panel-background-color);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  .download-panel-title {
    color: var(--panel-text-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.upload-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--uploader-header-background-color);
  color: var(--uploader-header-text-color);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0px;

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .max-size-label {
    margin-top: 10px;
    color: var(--uploader-header-text-color);
    font-size: 0.8rem;
  }
}

.upload-basket {
  background-color: var(--uploader-background-color);
  backdrop-filter: blur(5px);
  border-radius: 0;
  width: 100%;
  flex-grow: 0.5;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  padding-bottom: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .upload-basket-details {
    margin-top: 10px;
    width: 100%;
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: -6px;
    width: calc(100% + 18px);

    input,
    textarea {
      border-radius: 0 !important;
      border: none;
      border-bottom: 1px solid color-mix(in srgb, var(--panel-text-color), transparent 93%);
    }
  }

  .basket-items {
    flex-grow: 1;
    width: 100%;
  }

  .upload-basket-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--uploader-item-background-color);
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 3px;
    .name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--uploader-item-text-color);
    }
    .meta {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: var(--uploader-item-text-color);
      font-size: 0.8rem;
    }
    .hover-actions {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      pointer-events: none;
      padding-right: 10px;
      background-image: linear-gradient(to right, var(--panel-item-action-hover-background-color-from) 50%, var(--panel-item-action-hover-background-color-to));
      border-radius: 0 5px 5px 0;
      button {
        border: none;
        cursor: pointer;
        border-radius: 50%;
        width: var(--icon-only-button-width);
        height: var(--icon-only-button-width);
      }
    }
    &:hover {
      .hover-actions {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  .upload-basket-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .upload-basket-empty-text {
      color: var(--uploader-text-color);
      opacity: 0.7;
      font-size: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;
      svg {
        width: 12px;
        height: 12px;
        margin-top: -2px;
      }
    }
  }
}

.upload-button-container {
  border-radius: 0 0 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 10px 20px;
  background-color: var(--uploader-background-color);
  backdrop-filter: blur(5px);
  z-index: 100;

}

.version-info {
  background-color: var(--panel-background-color);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: var(--panel-text-color);
  padding: 10px 20px;
  font-size: 0.9rem;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 10px 10px 0 0;
  a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
      color: var(--link-color-hover);  
    }
  }
}

.backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;

  .backgrounds-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .backgrounds-item-credit {
      position: fixed;
      top: 20px;
      right: 0px;
      background-color: var(--accent-color-light);
      backdrop-filter: blur(10px);
      padding: 10px;
      border-radius: 5px 0 0 5px;
      color: var(--secondary-color);
      font-size: 0.6rem;
      z-index: 199;
      a {
        color: var(--secondary-color);
        text-decoration: none;
      }
    }
    &.active {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-size: 15px 15px;
    background-image: repeating-linear-gradient(45deg, #a9a9a9 0, #ffffff 1.8px, #ffffff00 0, #ffffff00 50%);
    opacity: 0.04;
  }
}

.sharePanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-background-color);
  backdrop-filter: blur(10px);
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  .sharePanel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--panel-background-color);
    padding: 20px;
    border-radius: 10px;
    width: calc(100% - 10px);
    @media (min-width: 768px) {
      width: 500px;
    }
    .sharePanel-title {
      color: var(--panel-text-color);
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .sharePanel-url {
      color: var(--input-text-color);
      font-size: 0.8rem;
      padding: 10px;
      padding-right: 0;
      border-radius: 5px;
      background-color: var(--input-background-color);
      width: 100%;
      height:50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .sharePanel-close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: var(--panel-text-color);
      padding: 0;
      svg {
        width: 20px;
        height: 20px;
        margin: 0 !important;
      }
    }
  }
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--panel-background-color);
  backdrop-filter: blur(10px);
  z-index: 101;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  .auth-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
      margin-bottom: 20px;
      font-size: 1.7rem;
    }
  }
}

.button-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.setting-group {
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
  background: var(--panel-section-background-color);
  border-radius: 5px 0 0 5px;

  .setting-group-header {
    padding: 20px 10px;
    border-radius: 8px 8px 0 0;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% + 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    border-radius: 5px 0 0 0;
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }
  .settings-group-info {
    font-size: 0.8rem;
    margin-top: 4px;
  }

  .setting-group-body {
    width: 100%;

    .setting-group-body-item {
      width: 100%;
      label {
        // display: block;
        margin-bottom: 5px;
      }
    }

    input,
    select,
    .background-image,
    .file-input {
      width: 100%;
    }

    h6,
    label {
      font-weight: bold;
      font-size: 1rem;
      margin: 0;
      margin-bottom: 10px;
      small {
        font-weight: normal;
        font-size: 0.7rem;
        color: color-mix(in srgb, var(--secondary-color) 60%, white 40%);
      }
    }
  }
}

.setting-group-body-item {
  .background-images {
    .background-image {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 5px;
      padding-right: 10px;
      border-radius: 5px;
      border: 1px solid var(--input-border-color);
      background: var(--input-background-color);
      margin-bottom: 5px;
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 10px 50%;
      }
      .name {
        font-size: 0.8rem;
        color: var(--input-text-color);
      }
      button {
        width: 40px;
        height: 40px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 20px;
          height: 20px;
          margin-right: 0px;
          margin-top: 0px;
        }
      }
    }
  }
}

.section-help {
  height: 100%;
  margin-top: 0px;
  background: var(--panel-section-background-color-alt);
  padding: 20px;
  border-radius: 0 5px 5px 0;
  h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
  }
  h6 {
    font-size: 1rem;

    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
  }
}

.hu-color-picker {
  box-shadow: none !important;
  width: 220px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

.Vue-Toastification__container {
  z-index: 500 !important;
}

.share-not-ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .share-status-inner {
    background-color: var(--secondary-color);
    color: var(--accent-color-light);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: var(--panel-text-color);
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      svg {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        margin-top: -1px;
        animation: spin 5s linear infinite;
      }
    }
    p {
      color: var(--panel-text-color);
      font-size: 1rem;
    }
  }
}

.slide-text {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  &.has-slide {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(90deg, var(--accent-color-light) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, var(--accent-color-light) 100%);
      pointer-events: none;
      z-index: 150;
    }
  }
  .content {
    display: inline-block;
    &.needs-slide {
      transition: all 0.3s ease-in-out;
      transform: translateX(5px);
      &:hover {
        animation: slide-text var(--animation-time) ease-in-out infinite;
      }
    }
  }
}

@keyframes slide-text {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(5px);
  }
}

.help-tip {
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 150;
  padding: 0px;
  border-radius: 10px;
  font-size: 0.8rem;
  color: var(--accent-color-light);
  width: 300px;
  backdrop-filter: blur(20px);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  transform: skewX(-2deg);
  filter: blur(10px);
  &.no-transition {
    transition: none;
  }
  &.shifted-up {
    transform: translateY(-15px);
    filter: blur(0px);
  }
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
  .help-tip-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--accent-color-light);
    h6 {
      font-size: 1rem;
      font-weight: bold;
      color: var(--secondary-color);
      margin: 0;
    }
    .help-tip-close {
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-top: 0px;
      color: var(--secondary-color);
    }
  }
  .help-tip-content {
    padding: 10px 20px;
    background-color: var(--accent-color-light-transparent-2);
    color: var(--secondary-color);
  }
}

.settings-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0px;
  li {
    a {
      display: block;
      padding: 10px 20px;
      background-color: var(--panel-nav-item-background-color);
      color: var(--panel-nav-item-text-color);
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 5px;
      &:hover {
        background-color: var(--panel-nav-item-background-color-hover);
        color: var(--panel-nav-item-text-color-hover);
      }
      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-top: -1px;
      }
    }
  }
}

.env-variable-name {
  --height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: color-mix(in srgb, var(--secondary-color), rgba(255, 255, 255, 0) 95%);
  height: var(--height);
  border-radius: 5px;
  .label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: none;
    color: var(--secondary-color);
    outline: none;
    height: var(--height);
    background-color: color-mix(in srgb, var(--secondary-color), rgba(255, 255, 255, 0) 95%);
    font-weight: bold;
  }
  .value {
    position: relative !important;
    background-color: color-mix(in srgb, var(--secondary-color), rgba(255, 255, 255, 0) 100%);
    height: var(--height);
    border: none;
    border-radius: 0 3px 3px 0;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-style: italic;
    font-size: 0.8rem;
  }
}


.text-danger {
  color:#ee7354 !important;
}