{% extends 'emails/layout' %}

{% block header %}Reset your password
{% endblock %}

{% block content %}
	<h2>Hi
		{{ user.name }},</h2>
	<p>We've received a request to reset your password.</p>
	<p>Use the link below to reset your password and get back into your account.</p>
	<p>
		<small>Didn't request a password reset? Ignore this email.</small>
	</p>
{% endblock %}

{% block action_url %}
	{{ settings.application_url }}/reset-password/{{ token }}
{% endblock %}
{% block action_text %}
	Reset Password
{% endblock %}
