button {
  background: var(--primary-button-background-color);
  color: var(--primary-button-text-color);

  &:hover {
    background: var(--primary-button-background-color-hover);
    color: var(--primary-button-text-color-hover);
  }

  &:disabled {
    background: var(--primary-button-background-color-disabled);
    color: var(--primary-button-text-color-disabled);
    pointer-events: none;
  }

  &.secondary {
    background: var(--secondary-button-background-color);
    color: var(--secondary-button-text-color);
    &:hover {
      background: var(--secondary-button-background-color-hover);
      color: var(--secondary-button-text-color-hover);
    }
    &:disabled {
      background: var(--secondary-button-background-color-disabled);
      color: var(--secondary-button-text-color-disabled);
    }
  }

  height: var(--button-height);
  line-height: 1;

  width: fit-content;
  padding: 0px 20px;
  &.block {
    width: var(--button-width);
  }

  &.icon-only {
    width: var(--icon-only-button-width);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    svg {
      margin-right: 0;
    }
  }

  &.round {
    border-radius: 50%;
  }

  border: none;
  cursor: pointer;

  border-radius: var(--button-border-radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;

  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  

  &.text-large {
    font-size: 1.1rem;
  }

  &:focus {
    outline: 2px dashed color-mix(in srgb, var(--primary-button-background-color), white 90%);
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: -3px;
  }
}

button.logout,
button.settings-button,
button.close-settings-button {
  display: flex;
  position: absolute;
  bottom: 20px;
  z-index: 102;
}

button.logout {
  right: 20px;
}

button.settings-button {
  right: 80px;
}

button.close-settings-button {
  right: 20px;
  top: 20px;
  bottom: unset;
}


.button-outside-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  button {
    width: calc(var(--icon-only-button-width) / 2);
    height: calc(var(--icon-only-button-width) / 2);
    min-width: calc(var(--icon-only-button-width) / 2);
    min-height: calc(var(--icon-only-button-width) / 2);
    margin-right: 0;
    svg {
      width: 12px;
      height: 12px;
      margin-top: 0px;
    }
  }
  .button-outside-label-text {
    font-size: 0.8rem;
    font-weight: 500;
  }
}