table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-background-color);

  thead {
    color: var(--table-header-text-color);
    position: sticky;
    top: 0;
    z-index: 10;
    th {
      background-color: var(--table-header-background-color);
      padding: 10px;
      text-align: left;
      svg {
        width: 16px;
        height: 16px;
        margin-top: -2px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
  tbody {
    background-color: var(--table-background-color);
    tr {
      background-color: var(--table-row-background-color);
      &:nth-child(even) {
        background-color: var(--table-row-background-color-alt);
      }
    }
    td {
      padding: 10px;
      text-align: left;
      border: 1px solid rgba(175, 175, 175, 0.2);
      color: var(--table-row-text-color);
    }
  }
}